<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <img src="img/profile_pic.jpg" class="img-circle">
      </div>
      <div class="col-sm-7">
        <h1>
          Emmanuel Marcha
        </h1>
        <p>
          info@emmanuelmarcha.com
        </p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <h4>
              <i class="fa fa-github-square"></i>
              <a href="https://github.com/emarcha">/emarcha</a>
            </h4>
          </li>
          <li>
            <h4>
              <i class="fa fa-linkedin-square"></i>
              <a href="https://www.linkedin.com/in/emmanuelmarcha">/emmanuelmarcha</a>
            </h4>
          </li>
          <li>
            <h4>
              <i class="fa fa-twitter-square"></i>
              <a href="https://twitter.com/@amadeus98">@Amadeus98</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>