$general-padding: 32px;

header {
  padding-top: $general-padding;
  padding-bottom: $general-padding;
  background-color: #f5f5f5;
  border-bottom: 1px solid darken(#f5f5f5, 5);
  @media (max-width: 768px) {
    text-align: center;
  }
  img {
    height: 120px;
  }
  i {
    font-size: 600;
  }
}

section {
  padding-top: $general-padding;
}